$base-bg-color: #003F54

body
  background: url("~assets/background/squares-questionarie.png"), linear-gradient(180deg, #EDEAFF 42.74%, #E1FFF9 93.06%)
  background-size: 50% auto
  background-position: 0% 25%
  font-family: url("~assets/fonts/Poppins.ttf")
  box-shadow: 0px 4px 31px rgba(227, 227, 227, 0.25)

.header
  height: 8%
  background-color: $base-bg-color

  & > .q-toolbar
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 30px
    color: #FFFFFF
    height: 100%


.question-bg
  min-height: 270px
  max-width: 710px
  background: url("~assets/img/cards.svg") no-repeat center center
  width: 90%
  margin: 20px auto 40px auto
  position: relative

.question
  width: 92%
  min-height: 82%
  margin: auto
  background: #FFFFFF
  border: 0.5px solid #008FD1
  border-radius: 11px
  // font and style in question
  padding: 10px
  font-weight: 500
  font-size: 15px
  line-height: 22px
  text-align: center
  color: #003F54
  // position in parent div
  position: absolute
  top: 15px
  left: 0
  right: 0

// In answers: Activate hover when the option is selected
.answers
  width: 90%
  margin: auto

  // Buttons styles
  & > .answ
    font-style: normal
    font-weight: 700
    font-size: 15px !important
    line-height: 22px
    text-align: center
    color: #FFFFFF
    margin-bottom: 20px

    // Option
    &.option-1
      background: #008FD1
      box-shadow: 0px 4px 4px #0036FF

      &-selected
        text-decoration: underline
        background: #05B0FF

    &.option-2
      background: #EF7C00
      box-shadow: 0px 4px 4px #FFC123

      &-selected
        text-decoration: underline
        background: #FF9523

    &.option-3
      background: #DD137A
      box-shadow: 0px 4px 4px #FF038B

      &-selected
        text-decoration: underline
        background: #EE3593

    &.option-4
      background: #84C325
      box-shadow: 0px 4px 4px #D0FF15

      &-selected
        text-decoration: underline
        background: #9DDB40

// This class remove the background in any DOM element
.q-bg-none
  background: none !important
